name: DockerBuildPush

on:
  push:
    branches: [ master ]
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
        - name: 'Checkout GitHub Action'
          uses: actions/checkout@main
          
        - name: 'Build and push image'
          uses: azure/docker-login@v1
          with:
            login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
            username: ${{ secrets.REGISTRY_USERNAME }}
            password: ${{ secrets.REGISTRY_PASSWORD }}
        - run: |
            docker build -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/explorer:${{ github.sha }} -f docker/Dockerfile .
            docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/explorer:${{ github.sha }}
            docker tag ${{ secrets.REGISTRY_LOGIN_SERVER }}/explorer:${{ github.sha }} ${{ secrets.REGISTRY_LOGIN_SERVER }}/explorer:latest
            docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/explorer:latest
